<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
  <script>
    function updateSearchParams(param, value) {
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.set(param, value);
      window.location.search = urlParams.toString();
    }

    function formatDate(dateStr) {
      const date = new Date(dateStr);
      const year = date.getFullYear();
      const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed
      const day = String(date.getDate()).padStart(2, '0');
      return `${year}-${month}-${day}`;
    }
  </script>
</head>

<body>
  <div>
    <%- include('partials/navigation') %>
    <% if (books.length > 0) { %>
    <h1>Books:</h1>
    <% for (let i = 0; i < books.length; i++) { %>
    <div class="book">
      <button action="/" method="get" onclick="updateSearchParams('title', '<%= books[i].title %>')">
        <h3><%= books[i].id + ". " + (books[i].title ? books[i].title : "-") %></h3>
      </button>
      <button action="/" method="get" onclick="updateSearchParams('author', '<%= books[i].author %>')">
        <h4><%= books[i].author ? books[i].author : "-" %></h4>
      </button>
      <button action="/" method="get" onclick="updateSearchParams('pages', '<%= books[i].pages %>')">
        <h4><%= books[i].pages ? books[i].pages : "-" %></h4>
      </button>
      <button action="/" method="get" onclick="updateSearchParams('year', '<%= books[i].year %>')">
        <h4><%= books[i].year ? books[i].year : "-" %></h4>
      </button><br />
      <h3>Current quantity: <%= books[i].quantity || 0 %></h3>
      <form action="/acquire/" method="post">
        <input type="hidden" name="id" value="<%= books[i].id %>" />
        <input type="number" name="amount" value="0" />
        <button class="delete" type="submit">Acquire Specified</button>
      </form>
      <form action="/delete/" method="post">
        <input type="hidden" name="id" value="<%= books[i].id %>" />
        <button class="delete" type="submit">Delete</button>
      </form>
    </div>
    <% } %>
    <% } else { %>
    <h1>No books</h1>
    <% } %>
  </div>
</body>

</html>