<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
  <script>
    function updateSearchParams(param, value) {
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.set(param, value);
      window.location.search = urlParams.toString();
    }

    function formatDate(dateStr) {
      const date = new Date(dateStr);
      const year = date.getFullYear();
      const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed
      const day = String(date.getDate()).padStart(2, '0');
      return `${year}-${month}-${day}`;
    }
  </script>
</head>

<body>
  <div>
    <h1><%= authMessage ? authMessage : "Hi!"%></h1>
    <%- include('partials/navigation') %>
    <% if (!user) { %>
    <%- include('partials/signin') %>
    <%- include('partials/signup') %>


    <% } else { %>
    <h1>No messages yet!</h1>
    <% } %>
  </div>
</body>

</html>