<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
  <script>
    function updateSearchParams(param, value) {
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.set(param, value);
      window.location.search = urlParams.toString();
    }

    function formatDate(dateStr) {
      const date = new Date(dateStr);
      const year = date.getFullYear();
      const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed
      const day = String(date.getDate()).padStart(2, '0');
      return `${year}-${month}-${day}`;
    }
  </script>
</head>

<body>
  <div>
    <%- include('partials/navigation') %>
    <% if (books.length > 0) { %>
    <h1>Books<%= origin ? " from " + origin : ""%>:</h1>
    <% for (let i = 0; i < books.length; i++) { %>
    <div class="book">
      <button action="/" method="get" onclick="updateSearchParams('title', '<%= books[i].title %>')">
        <h3><%= books[i].id + ". " + (books[i].title ? books[i].title : "") %></h3>
      </button>
      <a href="/books<%= books[i].author %>">
        <h4><%= books[i].author ? books[i].author : "" %></h4>
      </a>
      <br>
      <button action="/" method="get" onclick="updateSearchParams('date', formatDate('<%= books[i].pages %>'))">
        <h4><%= books[i].pages ? books[i].pages : "" %></h4>
      </button>
      <form action="/delete/" method="post">
        <input type="hidden" name="id" value="<%= books[i].id %>" />
        <button class="delete" type="submit">Delete</button>
      </form>
      <br />
    </div>
    <% } %>
    <% } else { %>
    <h1>No books</h1>
    <% } %>
  </div>
</body>

</html>