<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>

</head>

<body>
  <div>
    <%- include('partials/navigation') %>
    <div class="main">

      <h1><%= authMessage ? authMessage : ""%></h1>
      <% if (!user) { %>
      <%- include('partials/signup') %>
      <% } else {%>
      <h2>Welcome, <%= user.username %>!</h2>
      <%- include('partials/messages') %>
      <form class="group" action="/submit/" method="post">
        <div>
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" required />
        </div>

        <div>
          <label for="message">Content:</label>
          <textarea id="message" name="message" max="255" required></textarea>
        </div>

        <button type="submit">Post as <%= user.username %></button>
      </form>
      <% } %>
      <% if (blocked && blocked.length > 0) { %>
      <div class="group">
        &#x2718:
        <% blocked.forEach(function(blockee) { %>
        <form action="/unblock/" method="post"><input type="hidden" name="target" value="<%= blockee.id %>">
          <button class="groupbutton">Unblock <%= blockee.username %></button>
        </form>
        <% }) %>
      </div>
      <% } %>
    </div>
  </div>
</body>

</html>